<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="WoningTypeConfiguration" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <WoningTypeConfiguration>
    <add key="Portiekwoning" value="720" />
    <add key="Flat" value="730" />
    <add key="Galerijwoning" value="770"/>
    <add key="Maisonnette" value="800" />
    <add key="Rijtjeswoning" value="1150" />
    <add key="TweeOnderEenKap" value="1300" />
    <add key="VrijstaandKlein" value="1350" />
    <add key="VrijstaandGroot" value="1400" />
  </WoningTypeConfiguration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NET,Version=v5.0.0" />
  </startup>

</configuration>